<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'sistema_transaccional:login' %}">Sistema Transaccional</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#contenido-barra-navegacion" aria-controls="contenido-barra-navegacion"
                aria-expanded="false" aria-label="Toggle navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="contenido-barra-navegacion">
            <ul class="navbar-nav">
            </ul>
        </div>
    </div>
</nav>
<div class="d-flex min-vh-100 justify-content-center align-items-center align-content-center flex-wrap navbar-pad-offset">
    <p class="w-100 text-center">{{ mensaje }}</p>
</div>

</body>
</html>