<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Pedidos</title>
</head>
<body class="d-flex flex-column min-vh-100">

{% include 'sistema_transaccional/componentes/barra_navegacion_empleado.html' %}

<form class="d-flex flex-column flex-grow-1 justify-content-center align-items-center align-content-center"
      action="{% url 'sistema_transaccional:pedidos' %}" method="POST" id="formulario-pedido">
    {% csrf_token %}
    <div class="mt-3 mx-3 d-flex flex-column align-self-stretch">
        <div class="form-group">
            <label for="id-proveedor-pedido">Proveedor</label>
            <select class="form-select" name="id-proveedor-pedido" id="id-proveedor-pedido">
                {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id }}"
                            {% if formulario_proveedor.id_proveedor == proveedor.id %}selected{% endif %}>{{ proveedor.nombre }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="d-flex flex-column flex-grow-1 align-self-stretch m-3 border rounded bg-light overflow-auto"
         id="contenedor-lista-productos-pedido">
        {% for formulario in formularios_producto %}
            {% include 'sistema_transaccional/formularios/producto_pedido.html' %}
        {% endfor %}
    </div>
    <div class="text-center mb-3">
        <button class="me-3 btn btn-success" id="boton-agregar-producto-pedido" type="button">Agregar producto</button>
        <button class="ms-3 btn btn-primary" type="submit">Registrar pedido</button>
    </div>
</form>
<div class="d-none" id="escondite-caja">
    {% with formulario_producto_plantilla as formulario %}
        {% include 'sistema_transaccional/formularios/producto_pedido.html' %}
    {% endwith %}
    <input type="hidden" id="conteo-formularios-pedido" value="{{ formularios_producto|length }}">
</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show fixed-bottom"
             role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% if formulario.non_field_errors %}
    {% for error in formulario.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show fixed-bottom" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<script>
    const formularioPlantilla = document.querySelector("#escondite-caja").querySelector(".formulario-producto-pedido");
    formularioPlantilla.classList.remove("formulario-producto-pedido");
    const contenedorFormularios = document.querySelector("#contenedor-lista-productos-pedido");
    const botonAgregar = document.querySelector("#boton-agregar-producto-pedido");
    const contadorFormularios = document.querySelector("#conteo-formularios-pedido");
    const formularios = document.querySelectorAll(".formulario-producto-pedido");
    
    function customizarFormulario(formulario) {
        const inputCantidad = formulario.querySelector("input[type='number']");
        inputCantidad.oninvalid = function () {
            if (this.validity.valueMissing) {
                this.setCustomValidity("Ingresa la cantidad de producto");
            }
        }
        inputCantidad.oninput = function () {
            if (this.validity.valueMissing) {
                this.setCustomValidity("Ingresa una cantidad");
            } else if (this.validity.stepMismatch) {
                this.setCustomValidity("La cantidad debe ser un número positivo con máximo 5 cifras decimales");
            } else if (this.validity.customError) {
                this.setCustomValidity("");
            }
        }
        const botonEliminar = formulario.querySelector("button");
        botonEliminar.onclick = function () {
            let siguienteFormulario = formulario.nextElementSibling;
            while (siguienteFormulario) {
                const indiceFormulario = parseInt(siguienteFormulario.getAttribute("data-indice"));
                const camposFormulario = siguienteFormulario.querySelectorAll(".form-group");
                camposFormulario.forEach(campo => {
                    campo.innerHTML = campo.innerHTML.replace(RegExp(/-\d+"/g), `-${indiceFormulario - 1}"`);
                });
                siguienteFormulario.setAttribute("data-indice", (indiceFormulario - 1).toString());
                siguienteFormulario = siguienteFormulario.nextElementSibling;
            }

            formulario.remove();
            contadorFormularios.setAttribute("value", `${parseInt(contadorFormularios.value) - 1}`);
        }
    }

    formularios.forEach(formulario => {
        customizarFormulario(formulario);
    });

    botonAgregar.onclick = function () {
        const formulario = formularioPlantilla.cloneNode(true);
        formulario.setAttribute("data-indice", `${contadorFormularios.value}`);
        formulario.innerHTML = formulario.innerHTML.replace(RegExp(/__indice__/g), `${contadorFormularios.value}`);
        customizarFormulario(formulario);
        contenedorFormularios.appendChild(formulario);
        contadorFormularios.setAttribute("value", `${parseInt(contadorFormularios.value) + 1}`);
    }
    
    function ajustarAlturaElementoFormulario() {
        const navbar = document.querySelector("nav");
        const formularioCaja = document.querySelector("#formulario-pedido");
        formularioCaja.setAttribute("style", `height: ${window.innerHeight - navbar.offsetHeight}px;`);
    }
    
    ajustarAlturaElementoFormulario();
    window.onresize = ajustarAlturaElementoFormulario;
</script>

</body>
</html>