<nav class="navbar navbar-expand border-bottom bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand">Sistema Transaccional</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#contenido-barra-navegacion" aria-controls="contenido-barra-navegacion"
                aria-expanded="false" aria-label="Toggle navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="contenido-barra-navegacion">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sistema_transaccional:login' %}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand border-bottom bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand">Sistema Transaccional</span>
    </div>
</nav>
